---
import "../styles/base.css";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
<footer style="margin:4rem auto 2rem;text-align:center;font-size:.9rem;color:#555">
  <a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a>
</footer>
  </body>
</html>
